html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My code starts here*/
*{
    border: 1px solid black;
    font-family: 'Asap', sans-serif;
    font-size: 62.5%;
    color:#FFFFFF;
    letter-spacing: 1.5;
    line-height: 2;
    
}
body{
    background-color: #001f3f;
}
.wrapper{
    width:95%;
    margin: 2%;
}
h1{
    font-size: xxx-large;
    font-family: 'Grenze Gotisch', cursive;
    color:#ffffff;
    padding: 2%;
}
header{
    background-color: black;
}
header nav{
    width:25%;
    display:flex;
    justify-content: flex-start;
    height: 25px;
    align-items: center;
    padding:30px;
    
    }
    header  nav a{
        text-decoration: none;
        border: 3px solid black;
        color:#FF851B;
        padding:10px;
        margin:0 auto;

    }
    .about{
        padding-left: 5%;
        align-items: center;
    }
    .top{
        display: flex;
        
    }
    .middle{
        display: flex;
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    h2{
        font-size: xx-large;
        font-family: 'Grenze Gotisch', cursive;
        color:#FFFFFF;
    }

.midTopRowContainer {
    display: flex;
    justify-content: space-between;
}
.midBottomRowContainer{
    display: flex;
    justify-content: space-between;
}
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: darkolivegreen;
    font-size: large;
}
#blank{
    color: #001f3f;
}
/* add media queries for different sizes here */
@media(max-width: 800px){
    .midTopRowContainer{
        flex-direction: column;
        align-items: center;
        
        
    }
    
    
    .top{
        flex-direction: column;
        align-items: center;
    }
    .top img{
        width:50%;
        align-items: center;
        padding-left: 29%;
    }
    .midTopRowContainer{
        
        flex-wrap: wrap;
    }
     
     .midTopRowItems{
         flex-wrap: wrap;
     }
    
    .midBottomRowContainer{
        flex-direction: column;
        align-items: center;
    }
    .midTopRowItems img {
        width: 40%;
        
    }
    .midBottomRowItems img{
        width: 40%;
        order: 1;
    }
    .middle{
        flex-direction: row;
    }
    .about p{
        padding: 5% 0;
    }
}
@media(max-width:500px){
    header h1{
        padding-left: 25vw;
    }
   header nav{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        font-size: .8rem;
    }
    header {
        height: 28vh;
    }
    .about p{
        padding:5% 0;
    }
    .midTopRowItems img {
        width: 40%;
        
    }
    .midBottomRowItems img{
        width: 40%;
        order: 1;
    }
    .middle{
        flex-direction: row;
        align-self:center;
    }
    footer{
        padding:5% 0;
    }
}